<!DOCTYPE html>
<html lang="de" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
<title>TruShine3030</title>
</head>

<body>
    <div class="Menu">
        <div class="nav">
            
            <ul class="links">
                <li><a href="https://www.trumpf.com/de_DE/karriere/">TRUMPF</a></li>
                <li><a href="/Home">Home</a></li>
                <li><a href="/Idee">Idee</a></li>
                <li><a href="/About">About us</a></li>
                <li><a href="/Kontakt">Kontakt</a></li>
            </ul>
            <div class="logo">
            <a href="https://www.trumpf.com/de_DE/"><img src="{{url_for('static', filename='Trumpf.png')}}" alt="Logo" height="30" width="30"></a>
            </div>

        </div>
    </div>
    <section class="About">
        <h1>Wer steckt den hinter dem Cube?</h1>
        
        <div class="All">
        <div class="einzel-1">
            <h2>Finn Wentsch</h2>
            <p>
               20 Jahre<br>
               DHBW-Mechatronik<br>
               Fußball und Basketball
            </p>
        </div>
        <div class="einzel-2">
            <h2>Bjarne Baisch</h2>
            <p>
                19 Jahre<br>
                DHBW-Wirtschaftsingenieurwesen<br>
                Eishockey, Rennrad-, Skifahren
            </p>
        </div>
        
        <div class="einzel-3">
            <h2>Lukas Wagner</h2>
            <p>
                19 Jahre<br>
                DHBW-Elektrotechnik<br>
                Karate, Motorradfahren,<br>
                Hornist im MV Renningen
            </p>
        </div>
        </div>
    </section>
    <section class="About">
        <div class="All">
        <div class="einzel-4">
            <h2>Conor O'Shea</h2>
            <p>
                19 Jahre<br>
                DHBW-Informatik<br>
                Hobbylos
            </p>
        </div>
        <div class="einzel-5">
            <h2>Noah Schilling</h2>
            <p>
                20 Jahre<br>
                DHBW-Wirtschaftsingenieurwesen<br>
                Sport und Technik
            </p>
        </div>
        <div class="einzel-6">
            <h2>Christoph Niederer</h2>
            <p>
                19 Jahre<br>
                DHBW-Informatik<br>
                Fußball und Tennis
            </p>
        </div>
        </div>
    </section>
    <div class="bottom">
        <ul>
            <li><figure>
                <a href="Reset"><img src="{{url_for('static', filename='Reset.png')}}" height="60" width="60" alt="logo"></a>
                <figcaption><a href="Reset">Reset</a></figcaption>
                </figure>
            </li>
            <li><figure>
                <a href="Notstop"><img src="{{url_for('static', filename='Notstop.png')}}" height="60" width="60" alt="logo"></a>
                <figcaption><a href="Notstop">Notstop</a></figcaption>
              </figure>
            </li>
            <li><figure>
                <a href="Ausgabe"><img src="{{url_for('static', filename='Ausgabe.png')}}" height="60" width="60" alt="logo"></a>
                <figcaption><a href="Ausgabe">Ausgabe</a></figcaption>
              </figure>
            </li>
        </ul>
    </div>
            
        
    
</body>